AUTH_API=http://localhost:4005/api
AUTH_GRAPHQL_ENDPOINT=http://localhost:4005/graphql
AUTH_GRAPHQL_WS=ws://localhost:4005/graphql
NEWS_GRAPHQL_ENDPOINT=http://localhost:5001/graphql
NEWS_GRAPHQL_WS=ws://localhost:5001/graphql