version: "3.8"
services:
  nginx:
    image: nginx:latest
    volumes:
      - ./apps/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./apps/nginx/openssl:/etc/nginx/certs
    ports:
      - 80:80
      - 443:443
    extra_hosts:
      - "host.docker.internal:host-gateway"

  postgres:
    image: postgres:13
    restart: on-failure
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis/redis-stack:latest
    restart: on-failure
    ports:
      - 8001:8001
      - 6379:6379
    volumes:
      - redis-data:/data

  rabbitmq:
    image: rabbitmq:3-management
    restart: on-failure
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  # minio:
  #   image: quay.io/minio/minio
  #   restart: on-failure
  #   ports:
  #     - 9000:9000
  #     - 9090:9090
  #   command: server /data --console-address ":9090"
  #   volumes:
  #     - ./data/minio:/data
  #   env_file:
  #     - .env

  # mongodb:
  #   image: mongo
  #   restart: on-failure
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: example
  #     MONGO_INITDB_DATABASE: news
  #   volumes:
  #     - mongodb-data:/data/db
  #   ports:
  #     - "27018:27017"

volumes:
  rabbitmq-data:
  redis-data:
  mongodb-data:
  postgres-data:
