<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Changed</title>
</head>

<body>
  <h1>Password Changed</h1>
  <p>Hello {{firstName}},</p>
  <p>This email is to confirm that the password for your account with {{companyName}} has been changed.</p>
  <p>Thank you for using {{companyName}}!</p>
</body>

</html>