@import 'antd.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/flatpickr.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

@layer base {
  img {
    display: initial;
  }
}

@layer components {
  .post-gradient {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  }
  .sidebar-icon {
    @apply h-6 w-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white;
  }
  .sidebar-item {
    @apply flex items-center rounded-lg p-2 text-base font-normal text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700;
  }
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button {
    @apply rounded-sm border border-yellow-300 bg-gradient-to-b from-yellow-200 to-yellow-400 p-2 text-xs focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500 md:text-sm;
  }
}
